@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/grotesk/300/NeueHaasDisplay-Light.eot');
  src: local('Neue Haas Grotesk Display Pro 45 Light'),
    local('NeueHaasDisplay-Light'),
    url('../fonts/grotesk/300/NeueHaasDisplay-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/grotesk/300/NeueHaasDisplay-Light.woff') format('woff'),
    url('../fonts/grotesk/300/NeueHaasDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/grotesk/500/NeueHaasDisplay-Medium.eot');
  src: local('Neue Haas Grotesk Display Pro 65 Medium'),
    local('NeueHaasDisplay-Medium'),
    url('../fonts/grotesk/500/NeueHaasDisplay-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/grotesk/500/NeueHaasDisplay-Medium.woff') format('woff'),
    url('../fonts/grotesk/500/NeueHaasDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
