@import '_colors.scss';
@import 'fontFaces/grotesk.css';
@import 'fontFaces/montserrat.css';

.home {
  &__start {
    display: flex;
    height: 808px;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      height: initial;
    }
  }

  &__content {
    height: 100%;
    width: 484px;
    background: $dark-blue;

    @media screen and (max-width: 1200px) {
      width: 322px;
    }

    @media screen and (max-width: 1000px) {
      width: 251px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 250px;
    }

    @media screen and (max-width: 480px) {
      height: 213px;
    }
  }
  &__description {
    margin: 456px 0 0 150px;

    @media screen and (max-width: 1200px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 1000px) {
      margin-left: 25px;
    }

    @media screen and (max-width: 768px) {
      margin: 43px 0 0 25px;
    }

    @media screen and (max-width: 480px) {
      margin: 22px 0 0 15px;
    }
  }

  &__title {
    letter-spacing: 0.04em;
    color: $main-gray;
    font: {
      family: 'Neue Haas Grotesk Display Pro';
      size: 40px;
      weight: 300;
    }

    @media screen and (max-width: 1000px) {
      width: 178px;
    }

    @media screen and (max-width: 768px) {
      width: initial;
    }

    @media screen and (max-width: 480px) {
      font-size: 30px;
    }
  }

  &__text {
    margin-top: 5px;
    width: 302px;
    line-height: 134.9%;
    color: $main-gray;
    font: {
      family: 'Montserrat';
      weight: 400;
      size: 15px;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 17px;
      width: 216px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 9px;
      width: 410px;
    }

    @media screen and (max-width: 480px) {
      margin-top: 12px;
      width: 272px;
    }
  }

  &__main-btn {
    margin-top: 23px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $main-gray;
    font: {
      family: 'Montserrat';
      size: 15px;
      weight: 700;
    }
    line-height: 21px;
    border-bottom: 2px solid $main-gray;

    @media screen and (max-width: 1000px) {
      margin-top: 14px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 21px;
    }
  }

  &__home-pic {
    background: url('../assets/img/homePage.png');
    background-repeat: no-repeat;
    background-size: cover;

    flex-grow: 1;

    @media screen and (max-width: 768px) {
      flex-grow: inherit;
      width: 100%;
      height: 783px;
    }

    @media screen and (max-width: 480px) {
      height: 355px;
    }
  }

  &__gifts {
    height: 1158px;
    width: 100%;
    padding: 0 150px 0 150px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1200px) {
      padding: 0 20px 0 20px;
      height: 943px;
    }

    @media screen and (max-width: 1000px) {
      padding: 0 25px 0 25px;
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      height: 1258px;
    }

    &-title {
      width: 743px;
      margin: 143px auto 0 auto;
      line-height: 141.9%;
      text-align: center;
      color: $main-blue;
      font: {
        family: 'Montserrat';
        size: 25px;
        weight: 400;
      }

      @media screen and (max-width: 1200px) {
        margin-top: 103px;
      }

      @media screen and (max-width: 1000px) {
        width: 727px;
      }

      @media screen and (max-width: 768px) {
        font-size: 20px;
        font-weight: 400;
        margin-top: 78px;
        line-height: 141.9%;
        width: 469px;
      }

      @media screen and (max-width: 480px) {
        margin-top: 60px;
        width: 290px;
        font-size: 18px;
      }
    }
    &-btn {
      margin: 20px auto 0 auto;
      letter-spacing: 0.03em;
      line-height: 21px;
      color: $main-blue;
      text-transform: uppercase;
      font: {
        family: 'Montserrat';
        size: 15px;
        weight: 700;
      }
      border-bottom: 2px solid $main-blue;

      @media screen and (max-width: 768px) {
        margin-top: 17px;
      }
    }

    &-content {
      width: 100%;
      height: 328px;
      display: flex;
      margin-top: 30px;

      &:first-child {
        margin-top: 142px;
        height: 251px;

        @media screen and (max-width: 1200px) {
          margin-top: 102px;
          height: 212px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 90px;
          height: initial;
        }
      }

      @media screen and (max-width: 1200px) {
        margin-top: 25px;
        height: 276px;
      }

      @media screen and (max-width: 768px) {
        height: initial;
        flex-direction: column;
        margin-top: 16px;
        padding: 0 15px 0 15px;
      }
    }
  }

  &__gift {
    margin-left: 30px;
    display: flex;

    @media screen and (max-width: 1200px) {
      margin-left: 25px;
    }

    @media screen and (max-width: 1000px) {
      margin-left: 16px;
    }

    &:first-child {
      margin-left: 0;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    &-descr {
      margin-top: 29px;
      margin-left: auto;

      &-1 {
        margin-right: 34px;
      }
      &-2 {
        margin-right: 26px;
      }
      &-3 {
        margin-right: 57px;
      }
      &-4 {
        margin-right: 48px;
      }
    }

    &-title {
      color: $main-blue;
      letter-spacing: -0.01em;
      font: {
        family: 'Montserrat';
        size: 25px;
        weight: 500;
      }

      @media screen and (max-width: 480px) {
        font-size: 20px;
      }
    }
    &-btn {
      text-transform: uppercase;
      color: $main-blue;
      letter-spacing: 0.12em;
      margin-top: 8px;
      line-height: 15px;
      font: {
        family: 'Montserrat';
        size: 10px;
        weight: 500;
      }
      border-bottom: 1px solid $main-blue;
    }

    &-1 {
      flex-grow: 3;
      background: url('../assets/img/Gifts.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-2 {
      flex-grow: 2;
      background: url('../assets/img/Decoration.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-3 {
      flex-grow: 2;
      background: url('../assets/img/Lighting.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-4 {
      flex-grow: 3;
      background: url('../assets/img/Furniture.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media screen and (max-width: 768px) {
      flex-grow: initial;
      width: 100%;
      height: 211px;
      margin: 0;
      margin-top: 16px;
    }
  }

  &__benefits {
    width: 100%;
    height: 328px;
    background-color: $main-gray;
    padding: 0 150px 0 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 1200px) {
      padding: 0 20px 0 20px;
    }

    @media screen and (max-width: 1100px) {
      padding: 0 25px 0 25px;
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      height: 846px;
      flex-direction: column;
      align-items: initial;
    }

    @media screen and (max-width: 480px) {
      height: 700px;
      justify-content: initial;
    }
  }
  &__benefit {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 480px) {
      margin-top: 45px;
    }

    &-logo {
      margin: 0 auto 0 auto;
    }
    &-title {
      color: $main-blue;
      margin: 16px auto 0 auto;
      text-align: center;
      font: {
        family: 'Neue Haas Grotesk Display Pro';
        size: 23px;
        weight: 500px;
      }
      letter-spacing: 0.04em;

      @media screen and (max-width: 1000px) {
        width: 161px;
      }

      @media screen and (max-width: 480px) {
        width: initial;
        font-size: 20px;
      }
    }
    &-text {
      text-align: center;
      width: 299px;
      line-height: 134.9%;
      color: $main-blue;
      margin-top: 8px;
      font: {
        size: 20px;
        family: 'Montserrat';
        weight: 400;
      }

      @media screen and (max-width: 1000px) {
        width: 239px;
      }

      @media screen and (max-width: 768px) {
        margin: 8px auto 0 auto;
        width: 299px;
      }

      @media screen and (max-width: 480px) {
        font-size: 16px;
      }

      &-hidden {
        @media screen and (max-width: 1000px) {
          display: none;
        }

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  &__bestsellers {
    width: 100%;
    min-height: 885px;

    display: flex;
    flex-direction: column;

    padding: 0 150px 0 150px;

    @media screen and (max-width: 1200px) {
      padding: 0 20px 0 20px;
      min-height: 759px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 15px 0 15px;
      min-height: 1056px;
    }

    @media screen and (max-width: 480px) {
      min-height: 775px;
    }

    &-title {
      margin: 150px auto 0 auto;
      color: $main-blue;
      letter-spacing: 0.04em;
      font: {
        family: 'Neue Haas Grotesk Display Pro';
        weight: 300;
        size: 45px;
      }

      @media screen and (max-width: 1200px) {
        margin-top: 110px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 80px;
      }

      @media screen and (max-width: 480px) {
        margin-top: 70px;
        font-size: 30px;
      }
    }

    &-content {
      display: flex;
      justify-content: space-around;
      margin-top: 55px;

      @media screen and (max-width: 1200px) {
        overflow-y: auto;
      }

      @media screen and (max-width: 768px) {
        margin-top: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &-btn {
      margin: 34px auto 0 auto;
      color: $main-blue;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      line-height: 21px;
      font: {
        family: 'Montserrat';
        size: 15px;
        weight: 700;
      }
      border-bottom: 2px solid $main-blue;

      @media screen and (max-width: 768px) {
        margin-bottom: 83px;
      }
    }
  }

  &__bestseller {
    position: relative;
    margin-left: 30px;
    flex-grow: 0.25;
    min-width: 263px;

    @media screen and (max-width: 1200px) {
      margin-left: 25px;
      min-width: 221px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 27px;
      margin-left: 0;
      flex-grow: initial;
      width: calc(50% - 10px);
      min-width: 215px;
    }

    @media screen and (max-width: 480px) {
      margin-top: 24px;
      min-width: 138px;
    }

    &:first-child {
      margin-left: 0px;
    }

    &-mark {
      position: absolute;
      margin: 18px 0 0 17px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font: {
        family: 'Montserrat';
        size: 13px;
        weight: 500;
      }
      &-new {
        color: $main-blue;
      }
      &-sale {
        color: $red;
      }

      @media screen and (max-width: 480px) {
        font-size: 10px;
      }
    }

    &-pic {
      width: 100%;
      height: 362px;

      &-1 {
        background: url('../assets/img/1-bestseller.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-2 {
        background: url('../assets/img/2-bestseller.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-3 {
        background: url('../assets/img/3-bestseller.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-4 {
        background: url('../assets/img/4-bestseller.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      @media screen and (max-width: 1200px) {
        height: 331px;
      }

      @media screen and (max-width: 1000px) {
        height: 321px;
      }

      @media screen and (max-width: 480px) {
        height: 214px;
      }
    }

    &-content {
      margin-top: 13px;

      @media screen and (max-width: 480px) {
        margin-top: 7px;
      }
    }
    &-name {
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: $main-blue;
      font: {
        family: 'Neue Haas Grotesk Display Pro';
        size: 15px;
        weight: 500;
      }

      @media screen and (max-width: 1200px) {
        font-size: 13px;
      }

      @media screen and (max-width: 480px) {
        font-size: 10px;
      }
    }
    &-price {
      color: $gray;
      letter-spacing: 0.02em;
      font: {
        family: 'Montserrat';
        size: 15px;
        weight: 400;
      }

      @media screen and (max-width: 1200px) {
        font-size: 13px;
      }

      @media screen and (max-width: 480px) {
        font-size: 10px;
      }

      &-div {
        margin-top: 3px;
        display: flex;

        @media screen and (max-width: 1200px) {
          margin-top: 5px;
        }

        @media screen and (max-width: 480px) {
          margin-top: 3px;
        }
      }
      &-sale {
        margin-right: 16px;
        font: {
          family: 'Montserrat';
          size: 15px;
          weight: 400;
        }

        @media screen and (max-width: 1200px) {
          font-size: 13px;
        }

        @media screen and (max-width: 480px) {
          font-size: 10px;
        }
      }
      &-through {
        text-decoration: line-through;
        color: $light-gray;
      }
    }
  }

  &__quotes {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 524px;

    @media screen and (max-width: 1000px) {
      min-height: 463px;
    }

    @media screen and (max-width: 768px) {
      min-height: 396px;
    }

    &-background {
      position: absolute;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);

      @media screen and (max-width: 768px) {
        width: 160px;
        height: 160px;
      }

      @media screen and (max-width: 768px) {
        width: 155px;
        height: 155px;
      }
    }

    &-content {
      margin: 0 auto 0 auto;
      display: flex;
    }

    &-main {
      text-align: center;
      width: 805px;
      margin: 47px 145px 0 145px;
      line-height: 43px;
      color: $main-blue;
      font: {
        family: 'Montserrat';
        size: 25px;
        weight: 500;
      }

      @media screen and (max-width: 1200px) {
        width: 691px;
        margin: 47px 115px 0 115px;
      }

      @media screen and (max-width: 1000px) {
        width: 534px;
        margin: 47px 71px 0 71px;
      }

      @media screen and (max-width: 768px) {
        width: 300px;
        margin: 22px 50px 0 50px;
        font-size: 16px;
        line-height: 170.4%;
      }

      @media screen and (max-width: 480px) {
        width: 241px;
        margin: 2px 15px 0 15px;
      }
    }

    &-arrow {
      &-left {
        transform: rotate(180deg);
      }
    }

    &-author {
      margin: 88px auto 0 auto;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1000px) {
        margin-top: 45px;
      }

      &-avatar {
        margin: 0 auto 0 auto;

        @media screen and (max-width: 480px) {
          height: 69px;
          width: 69px;
        }
      }
      &-name {
        margin-top: 24px;
        color: $main-blue;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font: {
          family: 'Montserrat';
          size: 15px;
          weight: 700;
        }

        @media screen and (max-width: 1200px) {
          margin-top: 16px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 18px;
        }

        @media screen and (max-width: 480px) {
          margin-top: 23px;
        }
      }
    }
  }

  &__blog {
    min-height: 664px;
    position: relative;
    display: flex;
    flex-direction: column;

    &-background {
      background-color: $main-gray;
      height: 358px;
      width: 100%;
      position: absolute;
      z-index: -1;

      @media screen and (max-width: 768px) {
        height: 1122px;
      }

      @media screen and (max-width: 480px) {
        height: 874px;
      }
    }

    &-title {
      margin: 40px auto 0 auto;
      color: $main-blue;
      font: {
        family: 'Neue Haas Grotesk Display Pro';
        size: 45px;
        weight: 300;
      }
      letter-spacing: 0.04em;

      @media screen and (max-width: 480px) {
        margin-top: 31px;
        font-size: 30px;
      }
    }

    &-item {
      flex-grow: 1;
      margin-left: 30px;
      min-width: 263px;

      &:first-child {
        margin-left: 0;
      }

      @media screen and (max-width: 1200px) {
        margin-left: 25px;
      }

      @media screen and (max-width: 768px) {
        margin: 27px 0 0 0;
      }

      &-title {
        margin-top: 20px;
        color: $main-blue;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font: {
          family: 'Montserrat';
          size: 18px;
          weight: 700;
        }

        @media screen and (max-width: 768px) {
          margin-top: 26px;
        }

        @media screen and (max-width: 480px) {
          margin-top: 17px;
        }
      }

      &-date {
        margin-top: 5px;
        color: $gray;
        text-transform: uppercase;
        font: {
          family: 'Montserrat';
          size: 18px;
          weight: 500;
        }
      }

      &-text {
        color: $main-blue;
        line-height: 134.9%;
        margin-top: 16px;
        font: {
          family: 'Montserrat';
          size: 18px;
          weight: 500;
        }

        @media screen and (max-width: 768px) {
          font-size: 15px;
          margin-top: 13px;
        }

        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
      }
    }

    &-img {
      width: 100%;
      height: 263px;
      &-1 {
        background: url('../assets/img/1-blog.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-2 {
        background: url('../assets/img/2-blog.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-3 {
        background: url('../assets/img/3-blog.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      @media screen and (max-width: 768px) {
        height: 234px;
      }

      @media screen and (max-width: 480px) {
        height: 153px;
      }
    }

    &-btn {
      margin: 22px auto 0 auto;
      color: $main-blue;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      line-height: 21px;
      font: {
        family: 'Montserrat';
        size: 15px;
        weight: 700;
      }
      border-bottom: 2px solid $main-blue;

      @media screen and (max-width: 768px) {
        margin-top: 14px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 24px;
      }
    }
  }

  &__blogs {
    display: flex;
    width: 100%;

    margin-top: 55px;
    padding: 0 150px 0 150px;

    @media screen and (max-width: 1200px) {
      padding: 0 20px 0 20px;
    }

    @media screen and (max-width: 1000px) {
      overflow-y: auto;
      padding: 0 25px 0 25px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 0;
      padding: 0 15px 0 15px;
    }
  }
}
