@import 'home.scss';
@import 'catalog.scss';
@import 'blog.scss';
@import 'contact.scss';
@import 'cart.scss';
@import 'item.scss';
@import 'mailing.scss';

@import 'header.scss';
@import 'footer.scss';

@import '_colors.scss';

@import 'montserrat.css';
@import 'grotesk.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border-radius: 0;
  border: none;
  outline: none;

  background: none;

  text-decoration: none;
}

h1,
h2,
h3,
p {
  color: black;
}

a,
button {
  cursor: pointer;
}
