<footer class="footer">
  <section class="footer__content">
    <div class="footer__content-section">
      <p class="footer__logo">anthro</p>
      <p class="footer__logo-text">Stylish designs to discover daily</p>

      <div class="footer__money">
        <img class="footer__money-item" src="../assets/svg/footer/Visa.svg" alt="visa">
        <img class="footer__money-item" src="../assets/svg/footer/PayPal.svg" alt="paypal">
        <img class="footer__money-item" src="../assets/svg/footer/Mastercard.svg" alt="mastercard">
      </div>
    </div>

    <div class="footer__content-section">
      <div class="footer__content-head">
        <p class="footer__content-title">Help</p>

        <button class="footer__content-btn">
          <img src="../assets/svg/footer/footerOpen.svg" />
        </button>
      </div>

      <hr class="footer__content-line" />

      <div class="footer__content-items">
        <a href="#" class="footer__content-item">Returns & Exchanges</a>
        <a href="#" class="footer__content-item">Shipping</a>
        <a href="#" class="footer__content-item">Customer Service</a>
      </div>
    </div>

    <div class="footer__content-section">
      <div class="footer__content-head">
        <p class="footer__content-title">About Us</p>

        <button class="footer__content-btn">
          <img src="../assets/svg/footer/footerOpen.svg" />
        </button>
      </div>

      <hr class="footer__content-line" />

      <div class="footer__content-items">
        <a href="#" class="footer__content-item">Catalog</a>
        <a href="#" class="footer__content-item">Blog</a>
        <a href="#" class="footer__content-item">About</a>
        <a href="#" class="footer__content-item">Diversity & Inclusion</a>
      </div>
    </div>

    <div class="footer__content-section">
      <div class="footer__content-head">
        <p class="footer__content-title">Connect</p>

        <button class="footer__content-btn">
          <img src="../assets/svg/footer/footerOpen.svg" />
        </button>
      </div>

      <hr class="footer__content-line" />

      <div class="footer__content-items">
        <a href="#" class="footer__content-item">Contact Us</a>
        <a href="#" class="footer__content-item">Careers</a>
        <a href="#" class="footer__content-item">Styling Services</a>
      </div>
    </div>

    <div class="footer__additional">
      <div class="footer__locator">
        <img class="footer__locator-logo" src="../assets/svg/footer/Location.svg" alt="location"/>
        <button class="footer__locator-btn">Store Locator</button>
      </div>

      <div class="footer__networks">
        <a href="https://instagram.com" target="_blank" class="footer__network">
          <img src="../assets/svg/footer/instagram.svg" alt="intagram">
        </a>

        <a href="https://pinterest.ru" target="_blank" class="footer__network">
          <img src="../assets/svg/footer/Pintrest.svg" alt="pinterest">
        </a>

        <a href="https://facebook.com" target="_blank" class="footer__network">
          <img src="../assets/svg/footer/facebook.svg" alt="facebook">
        </a>
      </div>
  </div>
  </section>

  <p class="footer__copyright">2021 URBN.com. All Rights Reserved.</p>
</footer>