<header class="header">
  <button class="header__burger">
    <div class="header__burger-line"></div>
    <div class="header__burger-line"></div>
    <div class="header__burger-line"></div>
  </button>

  <a class="header__logo" href="index.html">anthro</a>

    <nav class="header__navbar">
      <a href="catalog.html" class="header__navbar-item">Catalog</a>
      <a href="blog.html" class="header__navbar-item">Blog</a>
      <a href="contact.html" class="header__navbar-item">Contact</a>
    </nav>

    <div class="header__icons">
      <a href="#" class="header__icon-btn"><img class="header__icon" src="assets/svg/header/search.svg" alt="search"></a>
      <a href="cart.html" class="header__icon-btn"><img class="header__icon" src="assets/svg/header/cart.svg" alt="cart"></a>
      <a href="#" class="header__icon-btn"><img class="header__icon" src="assets/svg/header/wishlist.svg" alt="wishlist"></a>
    </div>
</header>