<header class="header">
  <a class="header__logo" href="index.html">anthro</a>

    <nav class="header__navbar">
      <a href="catalog.html" class="header__navbar-item">Catalog</a>
      <a href="blog.html" class="header__navbar-item">Blog</a>
      <a href="contact.html" class="header__navbar-item">Contacts</a>
    </nav>

    <div class="header__icons">
      <a href="#" class="header__icon"><img src="assets/svg/search.svg" alt="search"></a>
      <a href="cart.html" class="header__icon"><img src="assets/svg/cart.svg" alt="cart"></a>
      <a href="#" class="header__icon"><img src="assets/svg/wishlist.svg" alt="wishlist"></a>
    </div>
</header>