<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles/style.css">

  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/footer.css">
  <link rel="stylesheet" href="styles/mailing.css">

  <link rel="stylesheet" href="styles/homeStyles/home.css">
  
  <link rel="stylesheet" href="styles/homeStyles/sections/home-start.css">
  <link rel="stylesheet" href="styles/homeStyles/sections/home-gifts.css">
  <link rel="stylesheet" href="styles/homeStyles/sections/home-benefits.css">
  <link rel="stylesheet" href="styles/homeStyles/sections/home-bestsellers.css">
  <link rel="stylesheet" href="styles/homeStyles/sections/home-quotes.css">
  <link rel="stylesheet" href="styles/homeStyles/sections/home-blogs.css">

  <title>Anthro</title>
</head>
